# CakePHP
tmp/*
Config/database.php
app/tmp/*
app/Config/database.php
!empty

# TextMate
*.tmproj
*.tmproject
tmtags

# OS X
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.xz
*.lzma

#packing-only formats
*.iso
*.tar

#package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# Sass
*/.sass-cache/*

# Project-Specific
app/remote_pull.sh