/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

#section_listing {
	margin: 0 auto;
	width: 80%;
	h1 { font-size: 200%; }
	ul {
		li {
			a {
				font-size: 150%;
			}
		}
	}
}

#footer {
	color: #fff;
	* {
		color: #fff;
	}
}

.note {
	color: lighten(#444, 30%);
	form & {
		margin-top: -1.5em;
	}
}

/* Email form */
#UserEmailDateCreated {
	width: 87%;
}